footer
  .container: .row
    .col-xs-12.col-sm-4: ul
      li: strong The Game
      li: a(href="https://hackerexperience.com") Hacker Experience 2
    .col-xs-12.col-sm-4: ul
      li: strong The Community
      li: a(href="http://letsbuildagame.com") Let's Build a Game
    .col-xs-12.col-sm-4: ul
      li: strong Follow us
      li: a(href="") Facebook
      li: a(href="") Google Plus
      li: a(href="") Twitter
