$color-index-button: #FF5A19;
$color-index-button-dark: #333;
$footer-link-color: $color-index-button;


$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$headings-font-family: "Raleway", $font-family-sans-serif;
$headings-font-weight: 700;


$block-grid-default-spacing: 16px;
